@import "base/_reset";
@import "base/_typography";
@import "base/colors";

@import "helpers/_variables";
@import "layouts/_header";

@import "components/_card";
@import "components/_survayTypes";
@import "components/_survayContent";

body {
    background: $white-color;
    @include font-light(0, 100);
}
.navbar-header img{
    width: 50px;
    display: inline-block;
    float: left;
    margin: 0 10px 0 20px;
}

/*select-category*/
.select-category .header{
    height: 300px;
    background-position: top center;
}
.select-category .header .container {
    padding-top: 16vh;
    color: $white-color;
}
.select-category .section{
    padding: 40px 0;
}

/*Override*/
.navbar, .navbar.navbar-default {
    // background-color: #00695C !important;
    // background-color: #9E9E9E !important;
    // background-color: #616161 !important;
    // background-color: #00838F !important;
    background-color: $primary-color !important;
}


.ans-img-wpr{
    margin: 20px 10px;
    &.active{
        border: 5px solid $positive-color;
        position: relative;
        &:before{
           content: "done";
           display: inline-block;
           font-family: 'Material Icons';
           -moz-border-radius: 50%;
           -webkit-border-radius: 50%;
           border-radius: 50%;
           background-color: $positive-color;
           position: absolute;
           color: #fff;
           right: 10px;
           top: 10px;
           padding: 10px;
           font-size: 32px;
        }
    }
    img{
        width: 100%;
    }
}

// Survey Screen
.result{
    .result-title{    
        font-size: 32px;
        margin-top: 10px;
        text-align: center;
        //margin: 5px 0px;
        //background: #f3dda8;
        padding: 20px;
    }
}
.survey-types{
    display: inline-block;
    width: 100px;
}
