<!-- BEGIN HEADER INNER -->
<div class="page-header-inner">
    <!-- BEGIN LOGO -->
    <div class="page-logo">
        <a style="font-family: 'Pacifico', cursive; font-size: 60px; margin-top: -20px" href="#/dashboard.html">
            <img src="../assets/global/img/revlo.png" style="height:75px" alt="Revlo" class="logo-default">
            <!--Revlo-->
        </a>
        <div class="menu-toggler sidebar-toggler">
            <!-- DOC: Remove the above "hide" to enable the sidebar toggler button on header -->
        </div>
    </div>
    <!-- END LOGO -->
    <!-- BEGIN RESPONSIVE MENU TOGGLER -->
    <a href="javascript:;" class="menu-toggler responsive-toggler" data-toggle="collapse" data-target=".navbar-collapse"> </a>
    <!-- END RESPONSIVE MENU TOGGLER -->
    <!-- BEGIN PAGE TOP -->
    <div class="page-top">
        <!-- BEGIN HEADER SEARCH BOX -->
        <!-- DOC: Apply "search-form-expanded" right after the "search-form" class to have half expanded search box -->
        <!--<form class="search-form" action="#" method="GET">-->
        <!--<div class="input-group">-->
        <!--<input ng-model="globalsearchtext" type="text" class="form-control input-sm" placeholder="Search..." name="query">-->
        <!--<span class="input-group-btn">-->
        <!--<a href="javascript:;" class="btn submit">-->
        <!--<i class="icon-magnifier"></i>-->
        <!--</a>-->
        <!--</span>-->
        <!--</div>-->
        <!--</form>-->
        <!-- END HEADER SEARCH BOX -->
        <!-- BEGIN TOP NAVIGATION MENU -->
        <div class="top-menu">
            <ul class="nav navbar-nav pull-right">
                <!-- END TODO DROPDOWN -->
                <!-- BEGIN USER LOGIN DROPDOWN -->
                <!-- DOC: Apply "dropdown-dark" class after below "dropdown-extended" to change the dropdown styte -->
                <li class="dropdown dropdown-user dropdown-dark">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                        <span class="username username-hide-on-mobile"> User {{settings.profile.name}} </span>
                        <!-- DOC: Do not remove below empty space(&nbsp;) as its purposely used -->
                        <img alt="" class="img-circle" ng-src="{{settings.profile.picture}}" /> </a>
                    <ul class="dropdown-menu dropdown-menu-default">
                        <!--<li>-->
                        <!--<a href="#/profile/dashboard">-->
                        <!--<i class="icon-user"></i> My Profile </a>-->
                        <!--</li>-->
                        <!--<li>-->
                        <!--<a href="#">-->
                        <!--<i class="icon-calendar"></i> My Calendar </a>-->
                        <!--</li>-->
                        <!--<li>-->
                        <!--<a href="#">-->
                        <!--<i class="icon-envelope-open"></i> My Inbox-->
                        <!--<span class="badge badge-danger"> 3 </span>-->
                        <!--</a>-->
                        <!--</li>-->
                        <!--<li>-->
                        <!--<a href="#/todo">-->
                        <!--<i class="icon-rocket"></i> My Tasks-->
                        <!--<span class="badge badge-success"> 7 </span>-->
                        <!--</a>-->
                        <!--</li>-->
                        <!--<li class="divider"></li>-->
                        <!--<li>-->
                        <!--<a href="#">-->
                        <!--<i class="icon-lock"></i> Lock Screen </a>-->
                        <!--</li>-->
                        <li>
                            <a href="#/logout">
                                <i class="icon-key"></i> Log Out </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <!-- END TOP NAVIGATION MENU -->
    </div>
    <!-- END PAGE TOP -->
</div>
<!-- END HEADER INNER -->