<div class="page-sidebar navbar-collapse collapse">
    <!-- BEGIN SIDEBAR MENU -->
    <!-- DOC: Apply "page-sidebar-menu-light" class right after "page-sidebar-menu" to enable light sidebar menu style(without borders) -->
    <!-- DOC: Apply "page-sidebar-menu-hover-submenu" class right after "page-sidebar-menu" to enable hoverable(hover vs accordion) sub menu mode -->
    <!-- DOC: Apply "page-sidebar-menu-closed" class right after "page-sidebar-menu" to collapse("page-sidebar-closed" class must be applied to the body element) the sidebar sub menu mode -->
    <!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
    <!-- DOC: Set data-keep-expand="true" to keep the submenues expanded -->
    <!-- DOC: Set data-auto-speed="200" to adjust the sub menu slide up/down speed -->
    <ul class="page-sidebar-menu" data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200" ng-class="{'page-sidebar-menu-closed': settings.layout.pageSidebarClosed}">
        <li class="heading">
            <h3>Navigate</h3>
        </li>
        <li class="start nav-item">
            <a href="#/dashboard.html">
                <i class="icon-home"></i>
                <span class="title">Home</span>
            </a>
        </li>
        <li class="nav-item">
            <a href="#/categories" has-group="category-agent">
                <i class="icon-grid"></i>
                <span class="title">Categories</span>
            </a>
        </li>
        <li class="nav-item" has-group="questionnaire-agent">
            <a href="#/questionnaires">
                <i class="icon-book-open"></i>
                <span class="title">My Questionnaires</span>
            </a>
        </li>
        <li class="nav-item">
            <a href="#/surveys">
                <i class="icon-like"></i>
                <span class="title">My Interactions</span>
            </a>
        </li>
        <!--<li class="nav-item">-->
        <!--<a href="#/user">-->
        <!--<i class="icon-user"></i>-->
        <!--<span class="title">User</span>-->
        <!--</a>-->
        <!--</li>-->
        <li class="nav-item" has-group="views-value-transformers">
            <a href="#/crud/value_transforms">
                <i class="icon-shuffle"></i>
                <span class="title">Transformers</span>
            </a>
        </li>
        <li class="nav-item" has-group="views-raw-data">
            <a href="#/crud/data">
                <i class="icon-folder"></i>
                <span class="title">Data</span>
            </a>
        </li>
    </ul>
    <!-- END SIDEBAR MENU -->
</div>