<div class="container-fluid">
    <style>
        .square {
            width: 150px;
            height: 50px;
            margin: 5px;
            padding: 5px;
        }
    </style>
    <div class="modal-header">
        <h3 class="modal-title">Add/edit answer option</h3>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-12">
                <form class="form">
                    <div class="row">
                        <div class="col-md-8">
                            <div class="form-group">
                                <label for="value"> Value in terms of number </label>
                                <input class="form-control" id="value" name="value" ng-model="value" placeholder="the value of what user selected eg. 50"> {{model.value}} </div>
                            <div class="form-group">
                                <label for="label"> Label as text shown to user</label>
                                <input id="label" class="form-control" name="label" ng-model="label" placeholder="this is what the user sees eg. 'Very hot'"> </div>
                            <div class="form-group" ng-if="(question.type == 'single_image_choice' || question.type == 'multi_image_choice') && (!image_tokens || image_tokens.length == 0)">
                                <label for="iupload"> Image </label>
                                <input type="file" onchange="angular.element(this).scope().uploadImage(this)" id="iupload" class="form-control" name="label" placeholder="Upload an image to show along with the quesion">
                                <input type="hidden" id="image_token"> </div>
                        </div>
                        <div ng-repeat="img in image_tokens" class="col-md-4">
                            <button class="btn btn-danger" style="float: right" ng-click="removeImage(img)">
                                <span class="fa fa-times"></span>
                            </button>
                            <img width="100%" ng-src="{{imageServerRoot}}/{{img}}?width=300&height=250"> </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="row">
                                    <select data-placeholder="List of features on which to apply  a formula" class="form-control" ng-model="feature" ng-options="key as key for (key, val) in data" ng-change="changed(feature)"></select>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="row">
                                    <input class="form-control" ng-model="selection.formula" placeholder="final formula in terms of the symbols x+sin(x)*z^2"> </div>
                                <div class="row">
                                    <input class="form-control" ng-model="selection.symbols" placeholder="space separated variable list 'x y z"> </div>
                                <div class="row">
                                    <textarea class="form-control" ng-model="selection.substitutions" placeholder="list of substitutions in that order     y -> 2*x  "></textarea>
                                </div>
                            </div>
                            <div class="col-md-12 answer-formula-btn-group">
                                <button class="btn-sm btn btn-success" data-toggle="modal" href="#responsive">
                                    <span class="fa fa-plus"></span>
                                </button>
                                <button class="btn-sm btn btn-danger" ng-click="removeFeature(feature)">
                                    <span class="fa fa-minus"></span>
                                </button>
                                <button class="btn-sm btn btn-primary" ng-click="updateFeature(feature)">
                                    <span class="fa fa-check"></span>
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- /.modal -->
<div id="responsive" class="modal fade" tabindex="-1" aria-hidden="true" style="z-index:10055!important">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">Select a feature value to use in your function</h4>
            </div>
            <div class="modal-body">
                <div class="scroller" style="height:300px" data-always-visible="1" data-rail-visible1="1">
                    <div class="row">
                        <button class="btn btn-primary square" data-dismiss="modal" ng-click="select(item)" dir-paginate="item in featureList | filter: filterText | itemsPerPage: 6"> {{item}} </button>
                    </div>
                    <div class="row">
                        <dir-pagination-controls></dir-pagination-controls>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="fa fa-search"></i>
                                </span>
                                <input type="text" ng-model="filterText" id="typeahead_example_2" name="typeahead_example_2" class="form-control" /> </div>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn dark btn-outline">Close</button>
            </div>
        </div>
    </div>
</div>
<!--DOC: Aplly "modal-cached" class after "modal" class to enable ajax content caching-->
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok(value, label, data, image_tokens)">OK</button>
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>