<div class="modal-header">
    <h3 class="modal-title">Add question</h3>
</div>
<div class="modal-body">
    <form class="form">
        <input class="form-control" ng-model="$parent.filter" ng-change="update($parent.filter)"> </form>
    <ul>
        <li ng-repeat="item in questions">
            <a ng-click="select(item)">{{ item.question }}</a>
        </li>
    </ul> Selected:
    <b>{{ selected.question }} {{$parent.filter}}</b>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok($parent.filter)">OK</button>
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>