<h1>
    <span class="caption-subject font-green bold uppercase"> {{category.name}}
        <small>[
            <a target="_blank" href="http://dbpedia.org/ontology/{{category.name}}">{{category.datasource}}</a>]</small>
    </span>
</h1>
<h3>
    <button class="btn btn-sm btn-primary" ng-click="addResult()">
        <span class="glyphicon glyphicon-plus"></span> Add a Result to this category </button>
    <button class="btn btn-sm btn-warning" ng-click="setType()">
        <span class="glyphicon glyphicon-wrench"></span> Change Questionnaire Type </button>
    <label class='btn btn-sm btn-warning' style='text-align:center;' for='fupload'>
        <input id='fupload' name='fupload' type='file' style='display:none;'>
        <i class='glyphicon glyphicon-upload'></i> Upload Xls </label>
    <button class="btn btn-default" ng-click="exportXls()">
        <span class="glyphicon glyphicon-export"></span> Export Xls </button>
    <button class="btn btn-primary" ng-click="newQuestionnaire(referenceId)">Start New Questionnaire</button>
</h3>
<div class="col-md-4">
    <div class="row">
        <div class="col-md-3">
            <h3>Features</h3>
        </div>
        <div class="col-md-9">
            <dir-pagination-controls max-size="5" pagination-id="valuePage"></dir-pagination-controls>
        </div>
        <div class="col-md-12">
            <input name="featureFilter" class="form-control" ng-model="searchText" placeholder="filter by feature name... "> </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="list-group">
                <div class="list-group-item col-md-12" pagination-id="valuePage" dir-paginate="res in features | filter: searchText | itemsPerPage: 10">
                    <h4 class="list-group-item-heading">{{res}}</h4>
                    <div class="list-group-item-text">
                        <div class="col-md-12">
                            <button class="btn btn-default" ng-click="closeValues($event)">
                                <span class="glyphicon glyphicon-eye-close"></span>
                            </button>
                            <button ng-click="getValues(res, category.referenceId, $event)" class="btn btn-default">
                                <span class="glyphicon glyphicon-align-justify"></span>
                            </button>
                            <div class="col-md-12 value" style="overflow-y: auto"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-md-4">
    <div class="row">
        <div class="col-md-3">
            <h3>Results</h3>
        </div>
        <div class="col-md-9">
            <dir-pagination-controls max-size="5" pagination-id="resultPage"></dir-pagination-controls>
        </div>
        <div class="col-md-12">
            <input name="featureFilter" class="form-control" ng-model="searchText1" placeholder="filter by result name... "> </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="list-group">
                <div class="list-group-item col-md-12" pagination-id="resultPage" dir-paginate="res in results | filter: searchText1 | itemsPerPage: 10">
                    <h4 class="list-group-item-heading">
                        <a target="_blank" href="https://en.wikipedia.org/wiki/{{res.name}}"> {{res.name}} </a>
                    </h4>
                    <div class="list-group-item-text row">
                        <div class="col-md-12">
                            <p>{{res.companyName}}</p>
                        </div>
                        <div class="col-md-12">
                            <button class="btn btn-default">
                                <span ng-click="addSpecToResult(res.name, res.companyName, category.referenceId)" class="glyphicon glyphicon-plus"></span>
                            </button>
                            <button class="btn btn-default">
                                <span ng-click="deleteResultFromCategory(res.name, category.referenceId, res.companyName)" class="glyphicon glyphicon-minus"></span>
                            </button>
                            <button class="btn btn-default">
                                <span ng-click="getFeatures(res.name, res.companyName, category.referenceId, $event)" class="glyphicon glyphicon-align-justify"></span>
                            </button>
                            <button class="btn btn-default" ng-click="closeFeatures($event)">
                                <span class="glyphicon glyphicon-eye-close"></span>
                            </button>
                        </div>
                        <div class="col-md-12 features" style="overflow-y: scroll"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-md-4">
    <div class="row">
        <div class="col-md-3">
            <h3>Questionnaires</h3>
        </div>
        <div class="col-md-9">
            <dir-pagination-controls max-size="5" pagination-id="questionnairePage"></dir-pagination-controls>
        </div>
        <div class="col-md-12">
            <input name="featureFilter" class="form-control" ng-model="searchText2" placeholder="filter by name... "> </div>
    </div>
    <div class="row">
        <div class="col-md-12"> </div>
    </div>
</div>