<style>
    .category-buttons a {
        height: 30px;
        width: 150px;
        padding: 5px;
        margin: 5px;
    }

    .cat-card {
        border: 0px;
        padding: 0px;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12), 0 3px 1px -2px rgba(0, 0, 0, .2);
        border-radius: 6px !important
    }

    .img-card {
        height: 150px;
        overflow: hidden;
    }

    .cat-card-img {
        width: 100%;
        display: block;
        border-radius: 6px 6px 0 0 !important
    }

    .page-heading {
        padding-bottom: 30px;
        font-size: 30px;
    }
</style>
<div class="row">
    <div class="col-md-12">
        <div class="row">
            <div class="col-sm-6 page-heading"> Categories </div>
            <div class="col-sm-4 col-xs-12 pull-right">
                <div class="input-group form-group">
                    <span class="input-group-addon">
                        <i class="fa fa-search"></i>
                    </span>
                    <input type="text" id="typeahead_example_2" ng-model="search" name="typeahead_example_2" class="form-control" /> </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="form-group col-md-12">
        <a class="btn btn-primary" ng-click="addCategory()">
            <span class="fa fa-plus"></span> Add New Category </a>
    </div>
</div>
</div>
<div class="row">
    <div class=" col-xs-12 col-sm-6 col-md-4" ng-repeat="c in categoryList | filter: search">
        <div class="cat-card thumbnail">
            <div class="img-card">
                <img id="image-{{c.reference_id}}" class="cat-card-img" src="{{imageServerRoot}}/{{c.image.token}}?width=300&height=250" alt="100%x200"> </div>
            <div class="caption">
                <div class="row">
                    <div class="col-md-12">
                        <!--<small> {{c.datasource}}</small>-->
                        <h4 style="text-transform: capitalize">{{c.name}}</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <a href="#/category/{{c.reference_id}}" class="btn btn-xs blue">Results</a>
                        <a class="btn btn-xs blue" ng-click="newQuestionnaire(c.reference_id)">Create Survey</a>
                        <a class="btn btn-xs btn-danger" ng-click="deleteCategory(c)">Delete </a>
                    </div>
                </div>
                <!--<p class="category-buttons">-->
                <!---->
                <!---->
                <!---->
                <!--</p>-->
            </div>
        </div>
    </div>
</div>