<style>
    @media (min-width: 768px) {
        .display-table {
            display: table;
            table-layout: fixed;
        }
        .display-cell {
            /*display: table-cell;*/
            vertical-align: middle;
            float: none;
        }
    }

    .capitalize {
        text-transform: capitalize;
    }

    .nice-select {
        font-size: 30px;
        border: 2px solid #673ab7;
        background: #ffffff;
        font-family: 'Ubuntu', sans-serif;
        font-weight: bold;
        padding: 10px;
        margin: 5px;
        border-radius: 5px !important;
        display: inline-block;
        overflow: hidden;
        text-transform: capitalize;
    }

    .category-picker {
        text-align: center;
        margin-bottom: 20px;
    }

    .cat-card {
        border: 0px;
        padding: 0px;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12), 0 3px 1px -2px rgba(0, 0, 0, .2);
        border-radius: 6px !important;
        background-color: #fff;
        margin-bottom: 30px;
    }

    .img-card {
        height: 150px;
        overflow: hidden;
    }

    .cat-card-img {
        width: 100%;
        display: block;
        border-radius: 6px 6px 0 0 !important
    }

    .attempted-color-box {
        background-color: #3598dc;
        color: #fff;
        height: 150px;
        border-radius: 6px 6px 0 0 !important;
        text-align: center;
        font-size: 20px;
        padding-top: 40px;
    }
</style>
<!-- BEGIN MAIN CONTENT -->
<style>
    .category-buttons a {
        height: 30px;
        width: 150px;
        padding: 5px;
        margin: 5px;
    }

    .cat-card {
        border: 0px;
        padding: 0px;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12), 0 3px 1px -2px rgba(0, 0, 0, .2);
        border-radius: 6px !important
    }

    .img-card {
        height: 150px;
        overflow: hidden;
    }

    .cat-card-img {
        width: 100%;
        display: block;
        border-radius: 6px 6px 0 0 !important
    }

    .page-heading {
        padding-bottom: 30px;
        font-size: 30px;
    }
</style>
<div>
    <div class="row" ng-if="category != null">
        <div class="col-md-12">
            <div class="row">
                <div ng-if="questionnaires.length > 0">
                    <div class="col-md-12">
                        <div class="m-heading-1 border-green m-bordered">
                            <h4>Start a new exploration</h4>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12" ng-repeat="q in questionnaires">
                        <div class="portlet cat-card">
                            <div class="img-card">
                                <img class="cat-card-img" ng-src="{{imageServerRoot}}/{{q.image.token}}" class="img-responsive" alt=""> </div>
                            <div class="profile-usertitle">
                                <div class="profile-usertitle-name" style="font-size: 20px">{{q.name}}</div>
                            </div>
                            <div style="text-align: center; margin-top:5px" class="profile-usermenu">
                                <ul class="nav">
                                    <li>
                                        <a ng-click="startSurvey(q.reference_id)" href="return false;"> Start new discovery</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div ng-if="surveyList.length > 0">
                    <div class="col-md-12">
                        <div class="m-heading-1 border-green m-bordered">
                            <h4> Resume a previous exploration</h4>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12" ng-click="resumeSurvey(survey)" ng-repeat="survey in surveyList">
                        <div class="details cat-card">
                            <div class="number attempted-color-box">
                                <span ng-data-value="{{survey.created_at | date: 'MMM dd'}}"> Your interaction on
                                    <br>{{survey.created_at | date: 'MMM dd'}} </span>
                            </div>
                            <div class="profile-usertitle">
                                <div class="profile-usertitle-name" style="font-size: 20px">{{survey.questionnaire[0].name}}</div>
                            </div>
                            <div style="text-align: center; margin-top:5px" class="profile-usermenu">
                                <ul class="nav">
                                    <li>
                                        <a href="#"> Resume discovery</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class=" col-xs-12 col-sm-6 col-md-4" ng-repeat="c in categories | filter: search">
            <div class="cat-card thumbnail" style="cursor: pointer" ng-click="setCategory(c)">
                <div class="img-card">
                    <img id="image-{{c.reference_id}}" class="cat-card-img" src="{{imageServerRoot}}/{{c.image.token}}?width=300&height=250" alt="100%x200"> </div>
                <div class="caption">
                    <div class="row">
                        <div class="col-md-12">
                            <h4 style="text-transform: capitalize">{{c.name}}</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END MAIN CONTENT -->
<!-- BEGIN MAIN JS & CSS -->
<script>
    //    Dashboard.init();
</script>
<!-- BEGIN MAIN JS & CSS -->