<div class="container">
    <div class="row">
        <div id="login-container" class="pull-right col-md-12">
            <button type="submit" ng-controller="LoginController" class="btn btn-success btn-lg" ng-click="signin()" value="Login"> Login </button>
        </div>
    </div>
</div>