<!-- BEGIN PAGE BREADCRUMB -->
<ul class="page-breadcrumb breadcrumb">
    <li>
        <a href="#">Home</a>
        <i class="fa fa-circle"></i>
    </li>
    <li class="active"> Questionnaires</li>
</ul>
<!-- END PAGE BREADCRUMB -->
<!-- BEGIN MAIN CONTENT -->
<div ng-controller="DashboardController">
    <!-- BEGIN DASHBOARD STATS -->
    <div class="row">
        <div class="col-md-6">
            <div class="portlet light portlet-fit bordered">
                <div class="portlet-title">
                    <div class="caption">
                        <i class=" icon-layers font-green"></i>
                        <span class="caption-subject font-green bold uppercase">Questionnaire</span>
                        <div class="caption-desc font-grey-cascade">
                            <dir-pagination-controls pagination-id="questionnaire"></dir-pagination-controls>
                        </div>
                    </div>
                </div>
                <div class="portlet-body  mt-element-list ">
                    <div class="list-simple mt-list-container">
                        <ul>
                            <li pagination-id="questionnaire" dir-paginate="c in questionnaireList  | itemsPerPage: 10" class="mt-list-item">
                                <div class="list-icon-container done">
                                    <i class="icon-check"></i>
                                </div>
                                <div class="list-datetime"> {{c.createdAt | date: 'MMM dd'}} </div>
                                <div class="list-item-content">
                                    <h3 class="uppercase">
                                        <a ng-href="#/questionnaire/{{c.reference_id}}">{{c.name}} [{{c.category[0].name}}]</a>
                                    </h3>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!--<div class="col-md-4">-->
        <!--<selector data="categoryList" item-changed="selectCategory(item)"></selector>-->
        <!--</div>-->
    </div>
</div>
<!-- END MAIN CONTENT -->
<!-- BEGIN MAIN JS & CSS -->
<script>
    //    Dashboard.init();
</script>
<!-- BEGIN MAIN JS & CSS -->