<!-- <div class="col-md-12" style="float: unset;">
    <div class="text-center question-text">{{ data.question }}</div>
</div> -->
<div class="">{{ data.question }}</div>
<div ng-if="data.internalObject.image_tokens && data.internalObject.image_tokens.length > 0">
    <div class="row col-md-12">
        <div class="col-md-3" ng-repeat="qr_image in data.internalObject.image_tokens ">
            <img data-closeclick="true" class="zoomTarget img img-rounded" src="{{imageServerRoot}}/{{qr_image}}" style=" width: 300px; height: 250px "> </div>
    </div>
</div>
<!-- <div class="col-md-12 " style="float: unset; ">
    <div class="row ">
        <answer-selection image-server-root="imageServerRoot " data="data "></answer-selection>
    </div>
</div> -->