<style>
    .ques-top-tool {
        margin: 10px 0 10px 0;
    }

    .pull-right button {
        width: 80px;
        height: 34px;
        padding: 3px;
    }

    .answer-formula-btn-group {
        padding: 3px;
        margin-top: 10px;
    }

    .iconpicker a.iconpicker-item {
        padding: 34px 50px 36px 21px;
        margin: 12px;
    }

    .iconpicker-popover.popover.fade.bottom.in {
        width: 100%;
    }

    .rounded_box {
        border-radius: 10px !important;
    }

    .close:before {
        content: '✕';
    }

    .close {
        position: absolute;
        top: 0;
        right: 0;
        cursor: pointer;
    }
</style>
<input type="file" id="txtUploadFile" name="fileInput" style="display: none;" />
<div class="row">
    <div class="col-md-12">
        <h2>
            <span class="caption-subject font-green bold uppercase"> [
                <a ng-href="#/category/{{category0.reference_id}}">{{category}}</a>] {{questionnaire.name}} </span>
        </h2>
    </div>
    <div class="col-md-12 ques-top-tool">
        <button class="btn btn-sm btn-primary" ng-click="addQuestion()">Add question</button>
        <button class="btn btn-sm btn-danger" ng-click="deleteAllQuestions(referenceId)">Delete all questions</button>
        <button class='btn btn-sm btn-primary' style='text-align:center;' ng-click="uploadXls()">
            <i class='glyphicon glyphicon-upload'></i> Upload Questionnaire Xls </button>
        <button class="btn btn-sm btn-danger" ng-click="deleteQuestionnaire(referenceId)">Delete questionnaire</button>
        <button class="btn btn-sm btn-warning" ng-click="startSurvey(referenceId)">Start survey</button>
    </div>
</div>
<div class="row">
    <div class="col-md-10">
        <div class="portlet box grey-mint">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-gift"></i>Questions </div>
                <div class="tools">
                    <a href="javascript:;" class="collapse" data-original-title="" title=""> </a>
                    <a href="#" data-toggle="modal" class="config" data-original-title="" title=""> </a>
                    <a href="javascript:;" class="reload" data-original-title="" ng-click="loadQuestions()" title=""> </a>
                    <a href="javascript:;" class="remove" data-original-title="" title=""> </a>
                </div>
            </div>
            <div class="portlet-body">
                <div ng-if="questions.length == 0">No questions.
                    <br>
                    <button class="btn btn-sm btn-primary" ng-click="addQuestion()">Add question</button>
                </div>
                <accordion>
                    <accordion-group style="border-color:{{question.question[0].question_group.color}}" ng-repeat="question in questions">
                        <accordion-heading>
                            <span style="color: {{question.question[0].question_group.color}}" class="fa {{question.question[0].question_group.icon}} "></span> [
                            <span style="text-transform: uppercase">{{question.question[0].question_group.name}}</span>] {{question.question[0].question}}
                            <div class="pull-right">
                                <small style="text-transform: uppercase;"> {{question.status}}</small>
                            </div>
                        </accordion-heading>
                        <div class="row">
                            <div class="col-md-8" style="vertical-align: middle;">
                                <button ng-click="editQuestionnaire(question)" class="btn btn-primary">
                                    <span class="fa fa-edit "></span> Edit </button>
                                <button ng-click="changeQuestionType(question)" class="btn btn-primary">
                                    <span class="fa fa-edit"></span> Type </button>
                                <button ng-click="addImageToQuestion(question)" class="btn btn-success">
                                    <span class="fa fa-camera"></span> Add Image </button>
                                <button ng-click="removeQuestionImages(question)" class="btn btn-danger">
                                    <span class="fa fa-times"></span> Remove all images </button>
                            </div>
                            <div style="text-align: right" class="col-md-4 pull-right">
                                <button ng-if="question.status == 'pending'" class="btn btn-primary" ng-click="setStatus(question, 'active')">
                                    <span class="fa fa-check"></span> Enable </button>
                                <button ng-if="question.status == 'active'" class="btn btn-warning" ng-click="setStatus(question, 'pending')">
                                    <span class="fa fa-ban"></span> Disable </button>
                                <button class="btn btn-danger" ng-click="deleteQuestionFromQuestionnaire(questionnaireReferenceId, question.question[0].id)">
                                    <span class="fa fa-times"></span> Delete </button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="alert">
                                    <strong>Question Type: </strong> {{question.question[0].type}} </div>
                            </div>
                        </div>
                        <div ng-if="question.question[0].internalObject.image_tokens" class="row">
                            <div class="col-md-3" ng-repeat="image_token in question.question[0].internalObject.image_tokens">
                                <img style="width: 150px; height: 90px" ng-src="{{imageServerRoot}}/{{image_token}}?height=70&width=150"> </div>
                        </div>
                        <div class="row" ng-if="hasData(question)">
                            <div class="col-md-12">
                                <ul class="list-group">
                                    <li class="list-group-item" pagination-id="{{question.tid}}" dir-paginate="option in question.question[0].internalObject.options | itemsPerPage: 10">
                                        <button class="btn btn-xs" ng-click="editAnswerOption(question.question[0], option)">
                                            <span class="glyphicon glyphicon-wrench"></span>
                                        </button>
                                        <small>{{option.value}}</small> as {{option.label}}
                                        <button class="pull-right btn btn-xs btn-danger" ng-click="removeAnswerOption(question.question[0], option)">
                                            <span class="glyphicon glyphicon-remove"></span>
                                        </button>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <dir-pagination-controls pagination-id="question.tid"></dir-pagination-controls>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2">
                                <button class="btn btn-sm btn-success" ng-click="addAnswerOption(question.question[0])"> New answer </button>
                            </div>
                            <div class="col-md-4">
                                <button class="btn btn-sm btn-default" ng-click="setAnswersFromFeature(question.question[0], $event)"> Set answer from features </button>
                            </div>
                            <div class="col-md-6">
                                <select name="featureListSingleSelect">
                                    <option ng-repeat="v in featureList">{{v}}</option>
                                </select>
                            </div>
                        </div>
                    </accordion-group>
                </accordion>
            </div>
        </div>
    </div>
    <div class="col-md-2">
        <!-- BEGIN PORTLET-->
        <div class="portlet box purple-plum">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-gift"></i>Questionnaire Overview </div>
                <div class="tools">
                    <a href="javascript:;" class="collapse" data-original-title="" title=""> </a>
                    <a href="#" data-toggle="modal" class="config" data-original-title="" title=""> </a>
                    <a href="javascript:;" class="reload" ng-click="updateStats()" data-original-title="" title=""> </a>
                    <a href="javascript:;" class="remove" data-original-title="" title=""> </a>
                </div>
            </div>
            <div class="portlet-body">
                <!--{{stats}}-->
                <div class="portlet light">
                    <!-- STAT -->
                    <div class="row list-separated profile-stat">
                        <div class="col-md-12 col-sm-12 col-xs-6">
                            <div class="uppercase profile-stat-title">
                                <h1>{{stats.questionCount}}</h1>
                            </div>
                            <div class="uppercase profile-stat-text"> Question</div>
                        </div>
                        <div class="col-md-12 col-sm-12 col-xs-6">
                            <div class="uppercase profile-stat-title">
                                <h1>{{stats.attemptCount}}</h1>
                            </div>
                            <div class="uppercase profile-stat-text"> Surveys</div>
                        </div>
                        <div class="col-md-12 col-sm-12 col-xs-6">
                            <div class="uppercase profile-stat-title">
                                <h1>{{stats.answerSplit.length}}</h1>
                            </div>
                            <div class="uppercase profile-stat-text"> Answers</div>
                        </div>
                    </div>
                    <!-- END STAT -->
                </div>
            </div>
        </div>
        <!-- END PORTLET-->
    </div>
</div>