<!-- END PAGE BREADCRUMB -->
<!-- BEGIN MAIN CONTENT -->
<div ng-controller="DashboardController">
    <!-- BEGIN DASHBOARD STATS -->
    <div class="row" ng-if="surveyList.length > 0">
        <div class="col-md-12">
            <dir-pagination-controls pagination-id="surveyList"></dir-pagination-controls>
        </div>
        <div class="col-lg-3 col-md-6" pagination-id="surveyList" dir-paginate="c in surveyList  | itemsPerPage: 16">
            <div class="portlet light">
                <div class="card-icon">
                    <!--<i class="icon-user-follow font-red-sunglo theme-font"></i>-->
                </div>
                <div class="card-title">
                    <a ng-href="#/survey/{{c.id}}" target="_blank">
                        <span> {{c.questionnaire[0].categoryName}} </span>
                    </a>
                </div>
                <div class="card-desc">
                    <span> {{c.created_at | date: 'MMM dd'}}
                        <br> {{c.questionnaire[0].name}} </span>
                </div>
            </div>
        </div>
    </div>
    <div class="row" ng-if="surveyList.length == 0">
        <h3>You have not explored anything yet.</h3>
    </div>
</div>
<!-- END MAIN CONTENT -->
<!-- BEGIN MAIN JS & CSS -->
<!-- BEGIN MAIN JS & CSS -->