<h1>Survey List</h1>
<div class="row">
    <table class="table">
        <thead>
            <tr>
                <th>Category</th>
                <th>Started</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            <tr pagination-id="surveyList" dir-paginate="survey in surveyList |  orderBy: '-stampCreation' | itemsPerPage: 10">
                <td>{{survey.questionnaireName}} [{{survey.categoryName}}]</td>
                <td>{{survey.stampCreation | date: 'short'}}</td>
                <td>{{survey.status}}
                    <small>
                        <a ng-href="#/survey/{{survey.id}}">Continue</a>
                    </small>
                </td>
            </tr>
        </tbody>
    </table>
    <dir-pagination-controls pagination-id="surveyList"></dir-pagination-controls>
</div>