<div class="col-md-12">
    <div class="profile-sidebar">
        <!-- PORTLET MAIN -->
        <div class="portlet light profile-sidebar-portlet bordered">
            <!-- SIDEBAR USERPIC -->
            <div class="profile-userpic">
                <img ng-src="{{user.picture}}" class="img-responsive" alt=""> </div>
            <!-- END SIDEBAR USERPIC -->
            <!-- SIDEBAR USER TITLE -->
            <div class="profile-usertitle">
                <div class="profile-usertitle-name"> {{user.name}}</div>
            </div>
            <!-- END SIDEBAR USER TITLE -->
            <!-- SIDEBAR BUTTONS -->
            <!--<div class="profile-userbuttons">-->
            <!--<button type="button" class="btn btn-circle green btn-sm">Follow</button>-->
            <!--<button type="button" class="btn btn-circle red btn-sm">Message</button>-->
            <!--</div>-->
            <!-- END SIDEBAR BUTTONS -->
            <!-- SIDEBAR MENU -->
            <div class="profile-usermenu">
                <ul class="nav">
                    <li class="active">
                        <a href="#/user">
                            <i class="icon-home"></i> Overview </a>
                    </li>
                </ul>
            </div>
            <!-- END MENU -->
        </div>
        <!-- END PORTLET MAIN -->
        <!-- PORTLET MAIN -->
        <!--<div class="portlet light bordered">-->
        <!--&lt;!&ndash; STAT &ndash;&gt;-->
        <!--<div class="row list-separated profile-stat">-->
        <!--&lt;!&ndash;<div class="col-md-4 col-sm-4 col-xs-6">&ndash;&gt;-->
        <!--&lt;!&ndash;<div class="uppercase profile-stat-title"> {{stats.surveyCount}}</div>&ndash;&gt;-->
        <!--&lt;!&ndash;<div class="uppercase profile-stat-text"> Survey</div>&ndash;&gt;-->
        <!--&lt;!&ndash;</div>&ndash;&gt;-->
        <!--&lt;!&ndash;<div class="col-md-4 col-sm-4 col-xs-6">&ndash;&gt;-->
        <!--&lt;!&ndash;<div class="uppercase profile-stat-title"> 51</div>&ndash;&gt;-->
        <!--&lt;!&ndash;<div class="uppercase profile-stat-text"> Tasks</div>&ndash;&gt;-->
        <!--&lt;!&ndash;</div>&ndash;&gt;-->
        <!--&lt;!&ndash;<div class="col-md-4 col-sm-4 col-xs-6">&ndash;&gt;-->
        <!--&lt;!&ndash;<div class="uppercase profile-stat-title"> 61</div>&ndash;&gt;-->
        <!--&lt;!&ndash;<div class="uppercase profile-stat-text"> Uploads</div>&ndash;&gt;-->
        <!--&lt;!&ndash;</div>&ndash;&gt;-->
        <!--</div>-->
        <!--&lt;!&ndash; END STAT &ndash;&gt;-->
        <!--&lt;!&ndash;<div>&ndash;&gt;-->
        <!--&lt;!&ndash;<h4 class="profile-desc-title">About Marcus Doe</h4>&ndash;&gt;-->
        <!--&lt;!&ndash;<span class="profile-desc-text"> Lorem ipsum dolor sit amet diam nonummy nibh dolore. </span>&ndash;&gt;-->
        <!--&lt;!&ndash;<div class="margin-top-20 profile-desc-link">&ndash;&gt;-->
        <!--&lt;!&ndash;<i class="fa fa-globe"></i>&ndash;&gt;-->
        <!--&lt;!&ndash;<a href="http://www.keenthemes.com">www.keenthemes.com</a>&ndash;&gt;-->
        <!--&lt;!&ndash;</div>&ndash;&gt;-->
        <!--&lt;!&ndash;<div class="margin-top-20 profile-desc-link">&ndash;&gt;-->
        <!--&lt;!&ndash;<i class="fa fa-twitter"></i>&ndash;&gt;-->
        <!--&lt;!&ndash;<a href="http://www.twitter.com/keenthemes/">@keenthemes</a>&ndash;&gt;-->
        <!--&lt;!&ndash;</div>&ndash;&gt;-->
        <!--&lt;!&ndash;<div class="margin-top-20 profile-desc-link">&ndash;&gt;-->
        <!--&lt;!&ndash;<i class="fa fa-facebook"></i>&ndash;&gt;-->
        <!--&lt;!&ndash;<a href="http://www.facebook.com/keenthemes/">keenthemes</a>&ndash;&gt;-->
        <!--&lt;!&ndash;</div>&ndash;&gt;-->
        <!--&lt;!&ndash;</div>&ndash;&gt;-->
        <!--</div>-->
        <!-- END PORTLET MAIN -->
    </div>
    <div class="profile-content">
        <div class="row">
            <div class="col-md-6"></div>
            <div class="col-md-6"></div>
        </div>
    </div>
</div>