<div class="select-category">
    <nav class="navbar navbar-fixed-top navbar-color-on-scroll">
        <div class="container">
            <div class="navbar-header">
                <img src="assets/libs/material-kit/assets/img/christian.jpg" alt=""
                     class="img-circle img-raised img-responsive" ng-if="false">
                <a class="navbar-brand">Revelo</a>
            </div>
        </div>
    </nav>
    <div class="wrapper">
        <!-- <div
                class="header header-filter"
                style="background-image: url('assets/libs/material-kit/assets/img/examples/city.jpg');">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <h1 class="prod-name">Quick and accurate product discovery!</h1>
                        <h4>No need to understand features of products. Tell us your requirement and our intelligent
                            engine picks the best product suited for you.</h4>
                    </div>
                </div>
            </div>
        </div> -->
        <div class="main content">
            <div class="container">
                <div class="section text-center section-landing">
                    <div class="row text-left">
                        <div class="col-md-8 col-md-offset-2 text-center">
                            <h2 class="page-title">{{survey.questionnaire[0].name}}</h2>
                            <h5 class="page-desc">Answer the below questions
                                and we promise to show you the  you should buy.</h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-offset-2 col-md-8">
                            <div class="survey-wpr col-sm-12 col-xs-12 raised">
                                <div class="survey-type-wpr nav-align-center">
                                    <ul class="nav nav-pills nav-pills-primary" role="tablist">
                                        <li
                                                ng-class="[item.status]"
                                                ng-repeat="item in surveyTypes track by $index"
                                                ng-click="surveyTypesChange($index, item.name)">
                                            <a role="tab" data-toggle="tab">
                                                <i ng-class="['fa', item.icon]"></i>
                                                {{item.name}}
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <!-- ng-class="classForSurveyTypes" -->
                                <!-- <div class="survey-type-wpr">
                                  <div
                                      ng-show="(surveyTypes) && (surveyTypes.length < 5)"
                                      class="survey-types"
                                      ng-repeat="item in surveyTypes track by $index">
                                    <div ng-class="['item-wpr', item.status]">
                                      <span>
                                        <i ng-class="['fa', item.icon]"></i>
                                      </span>
                                    </div>
                                    <div class="survey-types-name">{{item.name}}</div>
                                  </div>
                                </div> -->
                                <div class="question-block">
                                  <div class="question">{{surveyDetails[currentQue].question}}</div>

                                  <div ng-if="surveyDetails[currentQue].type == 'single_string_choice'">
                                    <div class="row answer-options">
                                      <div class="radio option-list col-md-offset-0 col-md-4"
                                         ng-repeat="item in surveyDetails[currentQue].internalObject.options">
                                        <label>
                                          <!-- TODO: ng-attr item.value == surveyDetails[currentQue].answer checked -->
                                          <input
                                              type="radio"
                                              name="optionsRadios"
                                              ng-checked="surveyDetails[currentQue].answer == item.value"
                                              ng-click="updateAnswer(currentQue, item.value)">
                                            {{item.label}}
                                        </label>
                                      </div>
                                    </div>
                                  </div>

                                  <div ng-if="surveyDetails[currentQue].type == 'single_image_choice'">
                                    <div class="row answer-options">
                                      <div class="radio option-list col-md-offset-0 col-md-4"
                                           ng-repeat="item in surveyDetails[currentQue].internalObject.options">
                                          
                                        <div ng-if="item.image_tokens && (item.image_tokens.length > 0)">
                                          <img src="{{imageServerRoot}}/{{item.image_tokens[0]}}" style="width:300px; height:250px">
                                          <label>
                                            <input
                                                    type="radio"
                                                    name="optionsRadios"
                                                    ng-checked="surveyDetails[currentQue].answer == item.value"
                                                    ng-click="updateAnswer(currentQue, item.value)">
                                            {{item.label}}
                                          </label>
                                        </div>
                                      </div>
                                    </div>
                                  </div>

                                  <div ng-if="surveyDetails[currentQue].type == 'multi_string_choice'">
                                    <div class="row answer-options">
                                        <div
                                                class="checkbox option-list col-md-offset-0 col-md-4"
                                                ng-repeat="item in surveyDetails[currentQue].internalObject.options">
                                            <label>
                                                <input
                                                        type="checkbox"
                                                        name="optionsRadios"
                                                        ng-checked="surveyDetails[currentQue].answer.indexOf(item.value) > -1"
                                                        ng-click="updateAnswer(currentQue, item.value, true)">
                                                {{item.label}}
                                            </label>
                                        </div>
                                    </div>
                                  </div>
  
                                  <div ng-if="surveyDetails[currentQue].type == 'multi_image_choice'">
                                    <div class="row answer-options">
                                      <div class="radio option-list col-md-offset-0 col-md-4"
                                           ng-repeat="item in surveyDetails[currentQue].internalObject.options">
                                        

                                        <div ng-if="image_tokens && (image_tokens.length > 0)" class="row">
                                          <div
                                              class="col-md-6 col-sm-6 col-xs-12"
                                              ng-repeat="item in surveyDetails[currentQue].internalObject.options track by $index">
                                            <div
                                                  ng-click="updateAnsMultiSelect('image', $index)"
                                                  ng-class="['ans-img-wpr', 'material-icons', {'active': (surveyDetails[currentQue].internalObject.selectedAns == item.value)}]">
                                                  <img src="{{imageServerRoot}}/{{item.image_tokens[0]}}" alt="">
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                </div>
                                
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <div class="pull-right">
                                        <button
                                                ng-show="currentQue != 0"
                                                class="btn btn-primary"
                                                ng-click="updateCurrentQue(currentQue - 1)">Previous
                                        </button>
                                        <button
                                                class="btn btn-success"
                                                ng-show="currentQue == surveyDetails.length - 1"
                                                ng-click="scrollToResult()">See Result
                                        </button>
                                        <button
                                                ng-show="currentQue < surveyDetails.length - 1"
                                                class="btn btn-primary"
                                                ng-click="updateCurrentQue(currentQue + 1); ">
                                            Next
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 col-sm-12 col-xs-12 result raised" ng-if="suggestions.length > 0">
                            <div class="row result-title" id="result">Suggestions</div>
                            <div class="row result-card-text">
                              Our intelligent engine checks the suitability of every product on several dimensions based on your requirement. It also looks into reviews for confirming the selection. Following products are chosen from huge selection are perfect for your needs. Go ahead and buy the one you like.
                            </div>
                            <div class="row">
                                <div class="col-md-4" ng-repeat="suggestion in suggestions">
                                    <div class="result-card">
                                        <div class="result-card-title clearfix">
                                            <div class="result-card-menu">
                                                <img ng-src="{{imageServerRoot}}/{{suggestion.image.token}}?width=115&height=200" alt="">
                                            </div>
                                            <div class="result-card-text">
                                                <div class="prod-title">{{suggestion.product.companyName}} {{suggestion.product.name}}</div>
                                                <div ng-repeat="(name, item) in suggestion.split" 
                                                      ng-if="item.reason.length > 0" 
                                                      class="reason-string" ng-style="{'color': item.reasonColor}">

                                                    <!-- {{name}} : {{item.value}} -->
                                                    {{item.reason}}<br>
                                                </div>
                                                <!--    <div class="positive">Product Pros</div>
                                                   <div class="negative">Product Cons</div> -->
                                            </div>
                                        </div>
                                        <div class="result-card-action">
                                            <button class="btn btn-simple">Action 1</button>
                                            <button class="btn btn-simple">Action 2</button>
                                        </div>
                                    </div>
                                    <!--  <div class="result-card">
                                         <div class="result-card-title clearfix">
                                             <img ng-src="{{imageServerRoot}}/{{suggestion.image.token}}?width=115&height=200"
                                            class="result-card-menu"></img>
                                             <div class="result-card-text">{{suggestion.product.name}}</div>
                                         </div>
                                         <div class="result-card-action">
                                             <dl>
                                                 <dt ng-repeat-start="(name, item) in suggestion.split">{{name}}</dt>
                                                 <dd ng-repeat-end>{{item.value}}</dd>
                                             </dl>
                                         </div>
                                     </div> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<footer class="footer">
    <div class="container">
        <nav class="pull-left" ng-show="false">
            <ul>
                <li>
                    <a href="http://www.creative-tim.com">Revelo</a>
                </li>
                <li>
                    <a href="http://presentation.creative-tim.com">About Us</a>
                </li>
                <li>
                    <a href="http://blog.creative-tim.com">Blog</a>
                </li>
                <li>
                    <a href="http://www.creative-tim.com/license">Licenses</a>
                </li>
            </ul>
        </nav>
        <div class="copyright pull-right">
            &copy; 2017, Revlo
        </div>
    </div>
</footer>
</div>
<style>
    .reason-string {
        font-family: 'Ubuntu', sans-serif;
    }
    .prod-title {
        font-family: 'Ubuntu', sans-serif;
    }
    .question {
        font-family: 'Ubuntu', sans-serif;
        font-weight: 400;
    }

</style>