$primary-color: #f57c00;
$secondry-color: #303f9f;
$cta-color: #f44336;

// Greyscale shades
$black-color: #000000;
$grey-color: #808080;
$font-black: #333333;
$white-smoke-color: #eeeeee;
$white-color: #ffffff;

$positive-color: #4caf50;
$negitive-color: #f44336;
$warn-color: #fbc02d;
