<script>

    import {actions} from './store';
    import Fingerprint2 from 'fingerprintjs2';

    import Card from 'components/card';
    import List from 'components/list';
    import Text from 'components/text';
    import Message from 'components/message';

    import jQuery from 'jquery';

    var $ = jQuery;

    function scrollToBottom() {

        var $container = $('.messages'),
            $scrollTo = $('.messages ul li:last');
        $container.animate({
            duration: 2000,
            scrollTop: $scrollTo.offset().top - $container.offset().top + $container.scrollTop()
        },);
    }

    //    $("#profile-img").click(function () {
    //        $("#status-options").toggleClass("active");
    //    });
    //
    //    $(".expand-button").click(function () {
    //        $("#profile").toggleClass("expanded");
    //        $("#contacts").toggleClass("expanded");
    //    });

    //    $("#status-options ul li").click(function () {
    //        $("#profile-img").removeClass();
    //        $("#status-online").removeClass("active");
    //        $("#status-away").removeClass("active");
    //        $("#status-busy").removeClass("active");
    //        $("#status-offline").removeClass("active");
    //        $(this).addClass("active");
    //
    //        if ($("#status-online").hasClass("active")) {
    //            $("#profile-img").addClass("online");
    //        } else if ($("#status-away").hasClass("active")) {
    //            $("#profile-img").addClass("away");
    //        } else if ($("#status-busy").hasClass("active")) {
    //            $("#profile-img").addClass("busy");
    //        } else if ($("#status-offline").hasClass("active")) {
    //            $("#profile-img").addClass("offline");
    //        } else {
    //            $("#profile-img").removeClass();
    //        }
    //        ;
    //
    //        $("#status-options").removeClass("active");
    //    });
    $(window).on('keydown', function (e) {
        if (e.which == 13) {
            scrollToBottom();
            return false;
        }
    });

    //# sourceURL=pen.js


    export default {
        components: {Card, List, Text, Message},
        vuex: {
            actions: actions,
            getters: {
                user: ({user}) => user,
                session: ({sessions, currentSessionId}) => sessions.find(session => session.id === currentSessionId)
            }
        },
        created() {
            var that = this;
            this.initData();

            new Fingerprint2().get(function (result, components) {
                console.log("got finger print result", arguments);
                console.log(result); //a hash, representing your device fingerprint
                that.setUserId(result);
                console.log(components); // an array of FP components
            });


        },
        data() {
            return {
                content: '',
                userId: null,
            };
        },
        methods: {
            messageSubmit(e) {
                let content = this.content;
                if (e.keyCode === 13 && content.length) {
                    this.content = '';

                    this.sendMessage(content)
                }
            }
        }
    }
</script>

<template>

    <div id="frame">
        <div id="sidepanel">
            <div id="profile">
                <div class="wrap">
                    <img id="profile-img" :src="session.user.img" class="online" alt=""/>
                    <p></p>
                    <!--<i class="fa fa-chevron-down expand-button" aria-hidden="true"></i>-->
                    <div id="status-options">
                        <ul>
                            <li id="status-online" class="active"><span class="status-circle"></span>
                                <p>Online</p></li>
                            <li id="status-away"><span class="status-circle"></span>
                                <p>Away</p></li>
                            <li id="status-busy"><span class="status-circle"></span>
                                <p>Busy</p></li>
                            <li id="status-offline"><span class="status-circle"></span>
                                <p>Offline</p></li>
                        </ul>
                    </div>
                    <div id="expanded">
                        <!--<label for="twitter"><i class="fa fa-facebook fa-fw" aria-hidden="true"></i></label>-->
                        <!--<input name="twitter" type="text" value="mikeross"/>-->
                        <!--<label for="twitter"><i class="fa fa-twitter fa-fw" aria-hidden="true"></i></label>-->
                        <!--<input name="twitter" type="text" value="ross81"/>-->
                        <!--<label for="twitter"><i class="fa fa-instagram fa-fw" aria-hidden="true"></i></label>-->
                        <!--<input name="twitter" type="text" value="mike.ross"/>-->
                    </div>
                </div>
            </div>
            <div id="search">
                <label for=""><i class="fa fa-search" aria-hidden="true"></i></label>
                <!--<input type="text" placeholder="Search contacts..." />-->
            </div>
            <div id="contacts">
                <ul>
                    <!--<li class="contact">-->
                    <!--<div class="wrap">-->
                    <!--<span class="contact-status online"></span>-->
                    <!--<img src="http://emilcarlsson.se/assets/louislitt.png" alt="" />-->
                    <!--<div class="meta">-->
                    <!--<p class="name">Louis Litt</p>-->
                    <!--<p class="preview">You just got LITT up, Mike.</p>-->
                    <!--</div>-->
                    <!--</div>-->
                    <!--</li>-->
                </ul>
            </div>
            <div id="bottom-bar">
                <!--<button id="addcontact"><i class="fa fa-user-plus fa-fw" aria-hidden="true"></i> <span>Add contact</span></button>-->
                <!--<button id="settings"><i class="fa fa-cog fa-fw" aria-hidden="true"></i> <span>Settings</span></button>-->
            </div>
        </div>
        <div class="content">
            <!--<div class="contact-profile">-->
            <!--<img src="http://emilcarlsson.se/assets/harveyspecter.png" alt="" />-->
            <!--<p>Harvey Specter</p>-->
            <!--<div class="social-media">-->
            <!--<i class="fa fa-facebook" aria-hidden="true"></i>-->
            <!--<i class="fa fa-twitter" aria-hidden="true"></i>-->
            <!--<i class="fa fa-instagram" aria-hidden="true"></i>-->
            <!--</div>-->
            <!--</div>-->
            <div class="messages">
                <ul>
                    <li :class="{ replies: item.self, sent: !item.self }" v-for="item in session.messages">
                        <img :src="item.self ? user.img : session.user.img"/>
                        <p>{{ item.content }}</p>
                    </li>
                </ul>
            </div>
            <div class="message-input">
                <div class="wrap">
                    <input type="text" placeholder="Write your message... enter to send" v-model="content" @keyup="messageSubmit"/>
                    <!--<i class="fa fa-paperclip attachment" aria-hidden="true"></i>-->
                    <!--<button v-on:click="messageSubmit" class="submit" ><i  class="fa fa-paper-plane" aria-hidden="true"></i></button>-->
                </div>
            </div>
        </div>
    </div>

</template>

