<div class="row">
    <div class="col-md-4" ng-repeat="item in data">
        <div class="portlet solid blue" ng-click="select(item)">
            <div class="portlet-title">
                <div class="caption"> {{item.name}} </div>
            </div>
            <div class="portlet-body">{{item.created_at}}</div>
        </div>
    </div>
</div>