.cust-card {
    margin-top: 30px;
    height: 300px;
    position: relative;
    margin: 2rem 0 1rem 0;
    background-color: $white-color;
    -webkit-transition: -webkit-box-shadow .25s;
    transition: -webkit-box-shadow .25s;
    transition: box-shadow .25s;
    transition: box-shadow .25s, -webkit-box-shadow .25s;
    border-radius: 2px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
    img{
        width: 100%;
        height: 65%;
    }
    .card-content{
        position: relative;
        text-align: left;
        padding: 10px 20px;
        font-size: 18px;
        text-transform: capitalize;
    }
    .cta{
        color: $white-smoke-color;
        background: $cta-color;
        position: absolute;
        top: -25px;
        right: 25px;
        padding: 10px;
        border-radius: 50%;
        line-height: 0px;
        cursor: pointer;
        transition: .25s ease-in-out;
        &:hover{
            transition: .25s ease-in-out;
            box-shadow: 0 3px 3px 0 rgba(0,0,0,0.14), 0 1px 7px 0 rgba(0,0,0,0.12), 0 3px 1px -1px rgba(0,0,0,0.2);
        }
    }
}

/*.select-category .card:hover{
    box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}*/

.result-card{
    color: $font-black;
    //background-color: $white-color;
    background-color: $white-smoke-color;
    //border-radius: 2px;
    //box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
    margin-bottom: 20px;
    .result-card-title{
        //padding: 24px 16px 0px 16px;
        padding: 20px;
        .result-card-text{
            text-align: left;
            //padding: 15px 0 15px 0;
            margin-top: 20px;
            .prod-title{
                font-size: 22px;
                margin-bottom: 10px;
            }
            .positive{
                margin-top: 10px;
                color: green;
            }
            .negative{
                color: red; 
            }
        }
        .result-card-menu{
            //width: 50%;
            height: 180px;
            background: #d6d6d6;
            margin: auto;
            img{
                height: 100%;
            }
        }
    }
    .result-card-action{
        display: none;
        text-align: right;
        button{
            padding: 10px 20px;
            margin: 8px 0px;
        }
    }
    .reason-string {
        //padding: 5px;
        margin: 0px 0px 10px 10px;
        line-height: 1.5;
        font-size: 16px;
    }
}
