.survey-wpr{
    text-align: left;
    padding: 20px;
    margin-top: 10px;
    margin-bottom: 30px;
    .question-block {
        margin-top: 20px;
        margin-bottom: 15px;
    }
    .question{
        font-size: 20px;
        //margin-top: 20px;
        margin-bottom: 10px;
    }
    .option-list{
        .checkbox+.checkbox, .radio+.radio {
		    //margin-top: 10px;
		}
    }
    .answer-options {
        margin-left: 0px;
        margin-right: 0px;
    }
    .btn{
        &.btn-primary{
            background-color: $secondry-color !important;
            margin:0px;
        }
    }
}

.raised{
    border-radius: 6px;
    box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}
