.survey-type-wpr{
    text-align: center;
    margin-bottom: 20px;
    &.current{
        border-bottom:4px solid $warn-color;
    }
    .item-wpr{
        height: 50px;
        width: 50px;
        margin: auto;
        line-height: 43px;
        border-radius: 50%;
        margin-bottom: 10px;
        &.done{
            border: 4px solid $positive-color;
        }
        &.current{
            border: 4px solid $warn-color;
            background: $warn-color;
            color: $white-color;
            font-size: 20px;
            .survey-types-name{
                font-weight: 500;
            }
        }
        &.inactive{
            border: 4px solid #ababab;
            background: $white-color;
            color: $font-black;
        }
    }
}