<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<link rel="icon" href="assets/images/favicon1.png">
	<meta name="keywords" content="Revelo,BROWSE">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  	<meta name="author" content="Ashish Mishra <ashishjpm@gmail.com>">

	<title>Revelo</title>

	<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />

	<!--     Fonts and icons     -->
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" />
	<link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">

	<link href="bower_components/components-font-awesome/css/font-awesome.min.css" rel="stylesheet" />

	<!-- CSS Files -->
    <link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="assets/libs/material-kit/assets/css/material-kit.css" rel="stylesheet"/>

	<link rel="stylesheet" href="assets/css/main.min.css">
</head>

<body ng-app="revelo">
	<ui-view></ui-view>

	<!-- Bower Components -->
	<script src="bower_components/jquery/dist/jquery.min.js" type="text/javascript"></script>
	<script src="bower_components/bootstrap/dist/js/bootstrap.min.js" type="text/javascript"></script>
	<script src="bower_components/angular/angular.js"></script>
	<script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
	<script src="bower_components/angular-jwt/dist/angular-jwt.min.js"></script>

	<!-- Libs -->
	<script ng-if="false" src="assets/libs/material-kit/assets/js/material.min.js"></script>
	<script src="assets/libs/material-kit/assets/js/material-kit.js" type="text/javascript"></script>


	<!-- Project js -->
	<script src="app/app.module.js"></script>
	<script src="app/app.router.js"></script>
	<script src="app/app.constant.js"></script>
	<script src="app/services/interceptor.js"></script>
	<script src="app/services/data.service.js"></script>

	<script src="app/components/login/login.controller.js"></script>
	<script src="app/components/home/home.controller.js"></script>
	<script src="app/components/itemSelect/itemSelect.controller.js"></script>

	<script src="app/components/home/home.service.js"></script>

	<script src="app/components/survey/survey.controller.js"></script>

	<script src="app/services/main.service.js"></script>
</body>


</html>
