<div class="col-md-12">
    <form>
        <label style="width: 100%;" for="id_label_multiple">
            <select id="id_label_multiple" class="form-control btn-lg" ng-model="data.answer" multiple ng-options="d.value as d.label for d in data.internalObject.options"></select>
        </label>
    </form>
</div>
<!--{{data}}-->