<div class="answer-box">
    <div ng-repeat="d in data.internalObject.options" class="answer-list">
        <a style="text-decoration: none; text-align: center" ng-click="setAnswer(d)">
            <div class="well rounded-box-new" ng-class="{'well': true, 'text-muted': !d.selected, 'text-info': d.selected, 'selected-row': d.selected}">
                <span class="answer-text">{{d.label}}</span>
            </div>
        </a>
    </div>
</div>