<div ng-repeat="d in data.internalObject.options" class="col-md-6 col-sm-6 col-xs-12">
    <div class="row">
        <a style="text-decoration: none" ng-click="setAnswer(d)">
            <div class="well rounded_box" ng-class="{'well': true, 'text-muted': !d.selected, 'text-info': d.selected, 'selected-row': d.selected}">
                <div ng-if="d.image_tokens">
                    <img data-closeclick="true" src="{{imageServerRoot}}/{{d.image_tokens[0]}}?width=300&height=250" class="img-responsive choice-image"> </div>
                <div class="answer-text">{{d.label}}</div>
            </div>
        </a>
    </div>
</div>