.header{
	.prod-name{
	    color: #eee;
	    font-size: 42px;
	    margin-bottom: 15px;
	}
	.prod-desc{
	    font-size: 30px;
    	color: #cacaca;
	}
}


//move this to content file
.content{
	.page-title{
		font-size: 30px;
	}
	.page-desc{
		font-size: 16px;
		margin: 15px 0 20px 0;
	    color: #999999;
	    line-height: 20px;
	}
}