<script>
    import {actions} from '../store';

    export default {
        vuex: {
            actions: actions
        },
        data() {
            return {
                content: ''
            };
        },
        methods: {
            onKeyup(e) {
                let content = this.content;
                if (e.keyCode === 13 && content.length) {
                    this.content = '';

                    this.sendMessage(content).then(function () {
                        console.log("send message complete")
                    });
                }
            }
        }
    };
</script>

<template>
    <div class="text">
        <input style="width: 100%; height: 60px; font-size: 18px;" placeholder="..." v-model="content" @keyup="onKeyup">
    </div>
</template>

<style lang="less" scoped>
    .text {
        height: 100%;
        border-top: solid 1px #ddd;
        width: 100%;

        textarea {
            padding: 10px;
            height: 100%;
            width: 100%;
            border: none;
            outline: none;
            font-family: Ubuntu;
            font-size: 18px;
            resize: none;
        }
    }
</style>